<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login3.css">
</head>
<body>
        
    
    <h4>تسجيل الدخول</h4>

    <div class="left">

        <form action="/login" method="post">

            <div class="inputs">
                <input type="text" name="username" placeholder="اسم المستخدم">
                <input type="password" name="password" placeholder="كلمة المرور">
            </div>
            <div class="buttons">
                <button type="submit">دخول</button>
                <a href="/register">انشاء حساب</a>
            </div>
    
    
        </form>


    </div>



    <div class="right">
        <img src="logoTest.png" alt="Logo">
    </div>






</body>
</html>