<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
</head>
<body>
    
    <nav>
        <img src="logoTest.png" alt="Logo">
        <button class="primary" onclick="document.querySelector('.logout').submit()">خروج</button>
    </nav>


    <main>
        <button class="btn" onclick="location.href='/history'">الروابط</button>
        <button class="btn" onclick="document.querySelector('.create').submit()">انشاء رابط</button>
        <form action="/main" method="post" class="create"></form>
        <form action="/logout" method="post" class="logout"></form>
    </main> 

<script src="../alert/alert.js"></script>
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
</body>
</html>